<%= @user.email %>

<table>
  <thead>
    <tr>
      <th>Events by <%= @user.email %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.events.each do |event| %>
      <tr>
        <td><%= event.event_date %></td>
        <td><%= link_to 'Show', event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', events_path %>
