<h1 class="text-white text-center m-5"><%= @user.username %></h1>
<div class="container justify-content-center profile-container">
  <div class="card border-warning mb-3 text-center event-card">
    <div class="card-header bg-warning">
      <h4><%= @user.username %></h4>
    </div>
    <div class="card-body">
      <table class="text-center w-100">
        <tbody>
          <% @user.events.each do |event| %>
            <tr>
              <td><%= link_to event.title, event_path(event.id), class:'text-decoration-none created-events' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="card-body bg-secondary">
      <h5>Events <%= @user.username %> is attending</h5>
      <table class="text-center w-100">
        <tbody>
          <% @user.attended_events.each do |event| %>
            <tr>
              <td><%= link_to event.title, event_path(event.id), class:'text-white text-decoration-none' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container justify-content-center">
  <%= link_to 'Back', events_path, class:'btn btn-warning' %>
</div>
