<%= @user.email %>

<table>
  <thead>
    <tr>
      <th>Events created by <%= @user.email %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.events.each do |event| %>
      <tr>
        <td><%= event.event_date %></td>
        <td><%= link_to 'Show', event %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Events attended by <%= @user.email %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.attended_events.each do |event| %>
      <tr>
        <td><%= event.event_date %></td>
        <td><p>Created by:<%= link_to event.creator.email, profile_path(event.user_id) %></p></td>
        <td><%= link_to 'Show', event %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Back', events_path %>
