<p id="notice"><%= notice %></p>

<h1>Last events</h1>

<table>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.event_date %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><p>Created by:<%= link_to event.creator.username, profile_path(event.user_id) %></p></td>
      </tr>
    <% end %>
  </tbody>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to Log Out?" } %>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
