<p id="notice"><%= notice %></p>
<div class="text-center">
  <h1 class="form-title m-4">Last events</h1>
  <div class="text-center d-flex justify-content-center flex-wrap">
    <table>
      <tbody>
        <% @events.each do |event| %>
            <div class="card text-dark bg-white mb-3" style="max-width: 18rem;">
              <div class="card-body bg-other">
                <p class="card-text"><%= event.description %></p>
              </div>
              <div class="card-header bg-white p-1 d-block">
                  <p><%= event.title %></p>
                  <p><%= event.event_date %></p>
              </div>
              <div class="d-flex">
                <%= link_to 'Check Event', event, class:'btn btn-warning m-1' %>
                <%= show_attendance(event) %>
              </div>
            </div>
        <% end %>
      </tbody>
    </table>
  </div>
</div>